@import '../../index.scss';

.contacts {
  width: 100%;
  height: 100vh;
  background-color: $black-transparent-color;
  overflow: hidden;

  &__list {
    overflow-y: auto;
    height: calc(100% - 50px);
  }
}
